In [1]:
import configparser

In [2]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

ARN = config.get('IAM_ROLE', 'ARN')
HOST = config.get('CLUSTER', 'HOST')

DWH_CLUSTER_IDENTIFIER = config.get('DWH', 'DWH_CLUSTER_IDENTIFIER')
DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

DB_NAME = config.get("CLUSTER","DB_NAME")
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")
SECURITY_GROUP_ID = config.get("CLUSTER","SECURITY_GROUP_ID")

In [3]:
%load_ext sql

In [4]:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)

postgresql://sparkifyuser:Passw0rd@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb

In [5]:
%sql $conn_string

'Connected: sparkifyuser@sparkifydb'

In [6]:
nSongplays = %sql select count(*) from songplays;
nUsers = %sql select count(*) from users;
nSongs = %sql select count(*) from songs;
nArtists = %sql select count(*) from artists;
nTime = %sql select count(*) from time;
nEventsStaging = %sql select count(*) from events_staging;
nSongsStaging = %sql select count(*) from songs_staging;

print("nSongplays\t\t=", nSongplays[0][0])
print("nUsers\t=", nUsers[0][0])
print("nSongs\t=", nSongs[0][0])
print("nArtists\t=", nArtists[0][0])
print("nTime\t\t=", nTime[0][0])
print("nEventsStaging\t\t=", nEventsStaging[0][0])
print("nSongsStaging\t\t=", nSongsStaging[0][0])

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.
nSongplays		= 333
nUsers	= 105
nSongs	= 14896
nArtists	= 10025
nTime		= 333
nEventsStaging		= 8056
nSongsStaging		= 14896

In [7]:
%sql select * from time limit 5;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 2, 18, 2, 42), 18, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 3, 18, 19, 10), 18, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 19, 33, 39), 19, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 5, 16, 15, 10), 16, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 17, 0, 27), 17, 5, 45, 11, 2018, 1)]

In [8]:
%sql select * from songplays limit 5;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(2, datetime.datetime(2018, 11, 14, 6, 19, 41), 80, 'paid', 'SOACRBY12AB017C757', 'ARVGCRM11F50C496F4', 548, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (10, datetime.datetime(2018, 11, 4, 9, 41, 55), 44, 'paid', 'SOAFQGA12A8C1367FA', 'AR0IVTL1187B9AD520', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (18, datetime.datetime(2018, 11, 15, 19, 22, 32), 44, 'paid', 'SOAKYDR12A6D4F7800', 'AREACYD1187FB566DE', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (26, datetime.datetime(2018, 11, 13, 11, 46, 10), 50, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 430, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (34, datetime.datetime(2018, 11, 6, 8, 49, 19), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [9]:
%sql select * from artists limit 5;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR01IP11187B9AF5D2', 'Call To Preserve', 'Rockledge, Florida', 28.33268, -80.73486),
 ('AR01S3D1187FB50A53', 'Charlie Parr', 'Minnesota', None, None),
 ('AR040M31187B98CA41', 'The Bug Featuring Ricky Ranking', '', None, None),
 ('AR061BH1187B98DF74', 'Guttermouth', 'Huntington Beach, CA', 33.67889, -118.00157)]

In [10]:
%sql select * from users limit 5;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(16, 'Rylan', 'George', 'M', 'free'),
 (19, 'Zachary', 'Thomas', 'M', 'free'),
 (20, 'Aiden', 'Ramirez', 'M', 'paid'),
 (22, 'Sean', 'Wilson', 'F', 'free'),
 (36, 'Matthew', 'Jones', 'M', 'paid')]

In [11]:
%sql select * from songs limit 10;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.

[('SOABNBI12A8C13F890', 'Mon légionaire', 'AR5O86P1187FB3B8CD', 0, Decimal('216')),
 ('SOABNPW12A6D4FC9B5', 'The Canals Of Our City', 'ARQOBT71187FB4CCCA', 2005, Decimal('141')),
 ('SOABQFG12A58A7C6A7', 'Seven Samurai - ending theme', 'ARKZESI119B86682ED', 0, Decimal('340')),
 ('SOABVPU12AB018AA22', 'Conquer Me', 'ARZZRK91187B9A5CA5', 2009, Decimal('180')),
 ('SOABWGO12AB0182725', "I'm Just A Prisoner", 'ARCCX2V1187B99DEE6', 1976, Decimal('192')),
 ('SOABZNS12A6D4F9B39', 'Epoque Scolaire (Interlude)', 'ARZO9UQ1187FB4D261', 1999, Decimal('89')),
 ('SOACAKP12AB018638D', 'Faut que tu fesses fort', 'ARZORKK11E2835CDA4', 1999, Decimal('137')),
 ('SOADMFM12A8C131911', 'Hard As Steel', 'AR3K1T51187FB4042A', 0, Decimal('309')),
 ('SOADVER12A6D4F68AF', 'Love Her With A Feeling', 'ARRT66G1187FB3DDF9', 1991, Decimal('301')),
 ('SOAEIOI12A8C142037', 'Daydream Romance (Album Version)', 'AR2GNDZ1187FB3D701', 0, Decimal('216'))]

In [12]:
%sql select * from events_staging limit 2;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
2 rows affected.

[(None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540306145796, 154, None, 200, 1541290555796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', 214.20363, 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', 1540895683796, 124, "Mean Ol'World", 200, 1541292603796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99)]

In [13]:
%sql select * from songs_staging limit 2;

 * postgresql://sparkifyuser:***@sparkifycluster.cbjskrcapxks.us-west-2.redshift.amazonaws.com:5439/sparkifydb
2 rows affected.

[(1, 'AR5O86P1187FB3B8CD', None, None, 'Paris, France', 'Edith Piaf', 'SOABNBI12A8C13F890', 'Mon légionaire', Decimal('216'), 0),
 (1, 'ARQOBT71187FB4CCCA', None, None, '', 'Beirut', 'SOABNPW12A6D4FC9B5', 'The Canals Of Our City', Decimal('141'), 2005)]